{% extends 'recruit/base.html' %}

{% block content%}
    <p> Your name
        <form action='/recruit/sith/showRecruits/' method="POST">
            {% csrf_token %}
            <select size="10" name="sith_id" required>
                <option disabled>Choose your name</option>
                {% for sith in siths %}
                <option value={{sith.id}}>{{sith.name}}</option>
                {% endfor %}
            </select>
            <input type="submit" value='Send'>
        </form>
    </p>
    <p>
        <h1 align='center'>
            Number of siths ShadowHands
        </h1>
    </p>
    <table class="table table-striped table-sm" >        
        <tr>
            <th>Sith name</th>
            <th>Number of ShadowHands</th>          
        </tr>        
        {% for sith in siths %}        
        <tr>
            <td>
                {{ sith.name }}
            </td>
            <td>
                {{ sith.recruit_set.all.count }}
            </td>            
        </tr>
        {% endfor %}        
    </table>
    <p>
        <h1 align='center'>
            Number of siths ShadowHands(>1)
        </h1>
    </p>    
    <table class="table table-striped table-sm" >        
        <tr>
            <th>Sith name</th>
            <th>Number of ShadowHands</th>          
        </tr>        
        {% for sith in siths %}
            {% if sith.recruit_set.all.count > 1 %}        
                <tr>
                    <td>
                        {{ sith.name }}
                    </td>
                    <td>
                        {{ sith.recruit_set.all.count }}
                    </td>            
                </tr>
            {% endif %}
        {% endfor %}        
    </table>       
{% endblock %}