<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' />
    <title>Introduce yourself </title>
</head>
<body>
    <form action='/recruit/' method="POST">
        {% csrf_token %}        
        <p>
            Your name<input type='text' name='name' required>
        </p>        
        <p> Your planet
            <select size="3" name="planet_id" required>
                <option disabled>Choose your planet</option>
                {% for planet in planets %}
                <option value={{planet.id}}>{{planet.name}}</option>
                {% endfor %}
           </select>
        </p>
        <p>
            Your age<input type='text' name='age' required>
        </p>
        <p>
            Your email<input type='email' name='email' required>
        </p>        
        <p><input type="submit" value="Send"></p>        
    </form>   
</body>
</html>